<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8"/>
        <meta nom="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta nom="description" content=""/>
        <meta nom="author" content=""/>

        <!-- Bootstrap core CSS -->
        <link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"
              rel="stylesheet" media="all" type="text/css"/>

    </div>
</head>

<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <a class="navbar-brand" th:href="@{/phones}">PhoneBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" th:href="@{/phones/create-update}">Add new entry</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--/*@thymesVar id="successMessage" type="java.lang.String"*/-->
    <div class="alert alert-success" role="alert" th:if="${successMessage}">
        <strong>Great! </strong><span th:utext="${successMessage}"></span>
    </div>
    <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
        <strong>Oops! </strong><span th:utext="${errorMessage}"></span>
    </div>
</div>

</body>
</html>